@model MusicStore.ViewModels.HomeViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index"; }

@helper Truncate(string input, int length)
{if (input.Length <= length)
    {
@input }
else
{
@input.Substring(0, length)<text>...</text>}
}

<h2>Music Store Home Page</h2>
<h3 style="margin-left: 20px;"><em>Fresh</em>off the grill</h3>
<div class="row">
    @foreach (var album in Model.RandomAlbums)
    {
<div class="col-xs-12 col-md-4">
    <div class="thumbnail">
        <a href="@Url.Action("Details", "Store", new { id=album.AlbumId})">
            <a href="@Url.Action("Details", "Store", new { id=album.AlbumId})">
                <img alt="@album.Title" src="~/ImagesAlbum/@album.AlbumArtUrl" style="margin-left: 20px;" width="140px;" height="140px;" />
                <p>@album.Title</p>

            </a>

            <p>
                @Truncate("Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software likeAldus PageMaker including versions of Lorem Ipsum.", 70)
            </p>
    </div>
</div>}
</div>

