@helper Truncate(string input, int length)
{if (input.Length <= length)
    {
@input }
else
{
@input.Substring(0, length)<text>...</text>}
}

<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Music Store</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header class="contact_us section">
        <!-- header inner -->
        <div class="header" style=" background-color: #136af8">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"> <a href="/Home/"><img src="~/images/logo.png" alt="#"></a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul id="navlist">
                                        <li class="first">
                                            <a href="@Url.Content("~")" id="current">Home</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Shop">Store</a>
                                        </li>
                                        <li>
                                            @{Html.RenderAction("CartSummary", "ShoppingCart");}
                                        </li>
                                        <li>
                                            <a href="@Url.Content("~/StoreManager/")">Admin</a>
                                        </li>
                                        <li>

                                            @if (Request.IsAuthenticated)
                                            {
                                            <li>
                                                <a href="/Favorite/Index">My Favorite</a>
                                            </li>

                                            <li>
                           
                                                <a href="/Account/Logoff">@User.Identity.Name Log off</a>
                                            </li> }
                                                        else
                                                        {
                                            <li>
                                                <a href="/Account/LogOn">Log on</a>
                                            </li>
}


                                            <li>
                                                <a href="/OrderHistory/">Order History</a>
                                            </li>


                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->
        </header>
        <!-- end header -->
        <div class="container-fluid row w-100" style="padding-top: 150px; ">

            @{Html.RenderAction("GenreMenu", "Store");}
            @if (ViewBag.AtOrderHistory != null)
            {
@RenderBody() }
else
{
<div class=" col-xs-12 col-md-9" id="mid-content">
    @RenderBody()
</div>
                <div class="col-xs-12 col-md-2" id="right-content">
                    <div>
                        @{Html.RenderAction("RightContent", "Home");}
                    </div>

                </div>}
        </div> <!-- end Contact Us--> <!-- footer start-->
        <div id="plant" class="footer layout_padding">
            <div class="container">
                <p>© 2021 All Rights Reserved. Design by<a href="https://html.design/"> Free Web Designer</a></p>
            </div>
        </div> <!-- Javascript files-->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/jquery-3.0.0.min.js"></script>
        <script src="~/js/plugin.js"></script> <!-- sidebar -->
        <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/js/custom.js"></script> <!-- javascript -->
        <script src="~/js/owl.carousel.js"></script>
        <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".fancybox").fancybox({
                    openEffect: "none",
                    closeEffect: "none"
                });

                $(".zoom").hover(function () {

                    $(this).addClass('transition');
                }, function () {

                    $(this).removeClass('transition');
                });
            });</script>
    </body>
</html>
